a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  &:hover {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 24px 150px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .articles {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .articles {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.article-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

.article-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.article-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.article-card .article-card-text {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.article-card-infos {
  display: flex;
  padding-top: 16px;
}

.article-card-infos .initials {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #5D4037;
  margin: 10px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.article-card-infos .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.article-card-infos .name, .article-card-infos .details {
  color: #333333;
  font-size: 12px;
}
