h1.title-article {
  margin-bottom: 32px;
  font-family: 'Bellota', cursive;
  text-transform: uppercase;
  text-shadow: 2px 4px rgb(114, 114, 114);
}

.article-infos {
  display: flex;
  align-items: baseline;
  margin: 32px;
}

.card-initials {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #5D4037;
  margin: 10px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.article-content {
  margin-bottom: 50px;
  .trix-content a, .trix-editor a {
    text-decoration: underline;
  }
  .trix-content h1, .trix-editor h1 {
    font-size: 2.1em;
  }
  .trix-content blockquote, .trix-editor blockquote {
    margin: 0;
    padding: 10px 0;
    border-left: none;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
    font-style: italic;
    font-family: 'Merriweather', serif;
  }
  .trix-content blockquote::before, .trix-editor blockquote::before {
    content: '"';
  }
  .trix-content blockquote::after, .trix-editor blockquote::after {
    content: '"';
  }
}
