<div class="articles">
  <% @articles.each do |article| %>
    <div class="article-card">
      <img src="<%= article.image_url %>" /> 
      <div class="article-card-infos">
        <h2><%= article.title %></h2>
        <p class="my-2"><%= article.content.body.to_plain_text.first(200) %>...</p>
        <span><%= article.reading_time %> min</span> 
      </div>
    </div>
  <% end %>

</div>
